<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">
<servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.InitServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/init</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DepenseServlet</servlet-name>
    <servlet-class>com.DepenseServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DepenseServlet</servlet-name>
    <url-pattern>/depenses</url-pattern>
    <url-pattern>/ajouterDepense</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>FinaliserServlet</servlet-name>
    <servlet-class>com.FinaliserServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>FinaliserServlet</servlet-name>
    <url-pattern>/finaliser</url-pattern>
</servlet-mapping>
</web-app> 
